body {
  background-color: $primary_light;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: baseline;
  width: 37.5rem;
}

.attribution {
  font-family: $sans_sarif_font;
  display: flex;
  justify-content: center;
  align-items: center;
}
