body {
  background-color: $primary_light;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    height: 87vh;
  }
}

.card {
  display: flex;
  justify-content: baseline;
  width: 37.5rem;
  @media (max-width: 600px) {
    flex-direction: column;
    width: 90%;
  }
}

.attribution {
  font-family: $sans_sarif_font;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    width: 90%;
    margin: 2rem auto;
    display: block;
  }
}
